body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 575px){
    .container{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
}

h1 {
    font-size: 40px;
}

.ar-inter-block  .ar-desc p {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

.documentation {
    box-shadow: inset 0px 0px 30px 1px #98803a;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    padding: 30px;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 50px;
}

.documentation h3 {
    font-size: 25px;
    font-weight: bold;
}

.documentation h4 {
    font-size: 20px;
    font-weight: bold;
}

.documentation p {
    line-height: 22px;
}

.documentation a {
    text-decoration: none;
    cursor: pointer;
}

.documentation ul {
    list-style-type: square;
}

.documentation .ul-html {
    margin: 40px 0;
}

.documentation li::marker {
  color: #1868a4;
}
.documentation li {
    line-height: 22px;
    margin: 10px 0;
}

.css {
    color: #ff2626;
    font-weight: bold;
}

.js {
    color: #115e99;
    font-weight: bold;
}

.documentation pre {
    background: #ededed;
    border-radius: 0 10px 10px 0;
    border-left: 3px solid #eca500;
    padding: 10px 20px;
    font-size: 13.5px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    font-style: normal;
}

.documentation img {
    display: block;
    margin: 0 auto;
    width: 50px;
}

.git-link{
    margin: 0 auto 5px;
    display: block;
    width: 40px;
}

.git-link img{
    width: 100%;
    border-radius: 50%;
}

.git-link:hover img{
    background: radial-gradient(circle at 50% 50%, hsl(244.22deg 100% 51.57% / 52%), hsl(0deg 0% 100% / 0%));
}

.flex-example {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-example .ar-inter-block{
    margin-top: 20px;
}

.flex-example h4{
    margin-bottom: 0;
}

.flex-example .flex-child{
    width: 100%;
    text-align: center;
}

@media (max-width: 992px) {   
    h1{
        font-size: 30px;
        text-align: center;
    }
}


.ar-inter-block .ar-img{
    background-size: 102%;
    background-image: url(img/tolkin.jpg);
}

#ar-inter1 {
    justify-content: center;
}

#ar-inter .right {
    box-shadow: inset 0px 0px 30px 1px #98803a;
}
 
#ar-inter3,
#ar-inter4 {
    flex-wrap: wrap;
    justify-content: center;
}

#ar-inter3 .left,
#ar-inter4 .left,
#ar-inter3 .right,
#ar-inter4 .right {
    width: 60%;
    margin: 0;
}

#ar-inter4 .ar-btn-title {
    justify-content: center;
}

#ar-inter3 .right,
#ar-inter4 .right {
    padding: 10px;
}

#ar-inter2 .right,
#ar-inter5 .right {
    border: 1px solid #935c24;
    text-align: left;
}
.ar-inter-block .ar-btn-title button,
.ar-inter-block .ar-img span::before {
    font-style: italic;
}
#ar-inter1 .ar-img,
#ar-inter2 .ar-img,
#ar-inter3 .ar-img,
#ar-inter4 .ar-img,
#ar-inter5 .ar-img{
    background-size: 102%;
    background-image: url(img/tolkin-white.jpg);
}

.ar-inter-block .ar-img .ar-btn1{
    left: 27%;
    bottom: 70%;
}

.ar-inter-block.ar-active .ar-btn-title .ar-btn0 {
    font-style: normal;
}

.ar-inter-block .ar-img .ar-btn2{
    left: 81%;
    bottom: 23%;
}

.ar-inter-block .ar-img .ar-btn3{
    left: 44%;
    bottom: 27%;
}

.ar-inter-block .ar-img .ar-btn4{
    left: 52%;
    bottom: 70%;
}

.ar-inter-block .ar-img .ar-btn5{
    left: 69%;
    bottom: 79%;
}

.ar-inter-block .ar-img.ar-btn1 {
    background-size: 460% !important;
    background-position-x: 25% !important;
    background-position-y: 20% !important;
}

.ar-inter-block .ar-img.ar-btn2 {
    background-size: 335% !important;
    background-position-x: 95% !important;
    background-position-y: 78% !important;
}

.ar-inter-block .ar-img.ar-btn3 {
    background-size: 430% !important;
    background-position-x: 45% !important;
    background-position-y: 71% !important;
}

.ar-inter-block .ar-img.ar-btn4 {
    background-size: 550% !important;
    background-position-x: 55% !important;
    background-position-y: 20% !important;
}

.ar-inter-block .ar-img.ar-btn5 {
    background-size: 530% !important;
    background-position-x: 75% !important;
    background-position-y: 11% !important;
}

#ar-inter5 .ar-img.ar-btn1 {
    background-image: url(img/shir.jpg);
    background-size: 120% !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
}

#ar-inter5 .ar-img.ar-btn2 {
    background-image: url(img/mordor.jpg);
    background-size: 150% !important;
    background-position-x: 40% !important;
    background-position-y: 0% !important;
}

#ar-inter5 .ar-img.ar-btn3 {
    background-image: url(img/gondor.jpg);
    background-size: 130% !important;
    background-position-x: 100% !important;
    background-position-y: 30% !important;
}

#ar-inter5 .ar-img.ar-btn4 {
    background-image: url(img/rivendel.jpg);
    background-size: 160% !important;
    background-position-x: 50% !important;
    background-position-y: 0% !important;
}

#ar-inter5 .ar-img.ar-btn5 {
    background-image: url(img/erebor.jpg);
    background-size: 200% !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}

.ar-inter-block .ar-img .ar-btn1::before{
    content: 'Шир';
}

.ar-inter-block .ar-img .ar-btn2::before{
    content: 'Мордор';
}

.ar-inter-block .ar-img .ar-btn3::before{
    content: 'Гондор';
}

.ar-inter-block .ar-img .ar-btn4::before{
    content: 'Ривендел';
}

.ar-inter-block .ar-img .ar-btn5::before{
    content: 'Эребор';
}