body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 575px){
    .container{
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
}

h2 {
    font-size: 40px;
}

.ar-inter-block  .ar-desc p {
    font-size: 15px;
    line-height: 20px;
}

.documentation {
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    padding: 30px;
    font-size: 16px;
    margin-bottom: 50px;
}

.documentation h3 {
    font-size: 25px;
    font-weight: bold;
}

.documentation h4 {
    font-size: 20px;
    font-weight: bold;
}

.documentation p {
    line-height: 22px;
}

.documentation a {
    text-decoration: none;
    cursor: pointer;
}

.documentation ul {
    list-style-type: square;
}

.documentation .ul-html {
    margin: 40px 0;
}

.documentation li::marker {
  color: #1868a4;
}
.documentation li {
    line-height: 22px;
    margin: 10px 0;
}

.css {
    color: #ff2626;
    font-weight: bold;
}

.js {
    color: #115e99;
    font-weight: bold;
}

.documentation pre {
    background: #ededed;
    border-radius: 0 10px 10px 0;
    border-left: 3px solid #ff3b4d;
    padding: 10px 20px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

.git-link{
    margin: 40px auto 0;
    display: block;
    width: 40px;
}

.git-link img{
    width: 100%;
    border-radius: 50%;
}

.git-link:hover img{
    background: radial-gradient(circle at 50% 50%, hsl(354.49deg 100% 51.57% / 65%), hsl(0deg 0% 100% / 0%));
}

@media (max-width: 992px) {   
    h2{
        font-size: 30px;
        text-align: center;
    }
}

.ar-inter-block .ar-img{
    background-image: url(img/tolkin.jpg);
}

.ar-img span:nth-child(1){
    left: 27%;
    bottom: 70%;
}

.ar-img span:nth-child(2){
    left: 81%;
    bottom: 23%;
}

.ar-img span:nth-child(3){
    left: 44%;
    bottom: 27%;
}

.ar-img span:nth-child(4){
    left: 52%;
    bottom: 70%;
}

.ar-img span:nth-child(5){
    left: 69%;
    bottom: 79%;
}

.ar-inter-block .ar-btn1 {
    background-size: 460% !important;
    background-position-x: 25% !important;
    background-position-y: 20% !important;
}

.ar-inter-block .ar-btn2 {
    background-size: 335% !important;
    background-position-x: 95% !important;
    background-position-y: 78% !important;
}

.ar-inter-block .ar-btn3 {
    background-size: 430% !important;
    background-position-x: 45% !important;
    background-position-y: 71% !important;
}

.ar-inter-block .ar-btn4 {
    background-size: 550% !important;
    background-position-x: 55% !important;
    background-position-y: 20% !important;
}

.ar-inter-block .ar-btn5 {
    background-size: 530% !important;
    background-position-x: 75% !important;
    background-position-y: 11% !important;
}